<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Testng.xm">
    <classes>
      <class name="com.bbc.Training.AppTest"/>
      <class name="com.bbc.JDTraining.JDTrainingDemo"/>
    </classes>
  </test> <!-- Testng.xm -->
</suite> <!-- Suite -->
